/*&display=swap&subset=cyrillic-ext*/

@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,400,700,900&display=swap");

/* Использовать после body 
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
*/
body{
	font-family: "Lato";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	max-width: 810px;
	margin: 0px auto;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.title{
	font-style: normal;
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	margin: 190px 0px 92px 0px;
}
.photo1{
	max-width: 810px;
	max-height: 360px;
	margin: 0px 0px 60px 0px;
}
.textblock{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	margin: 0px 0px 24px 0px;
}
.text2{
	margin: 0px 0px 48px 0px;
}
.textt21{
	padding: 0px 0px 24px 0px;
}
.sub{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	margin: 0px 0px 48px 0px;
	padding: 0px 0px 0px 59px;
}
.text3{
	margin: 0px 0px 24px 0px;
}
.spisok{
	margin: 0px 0px 24px 32px;
}
li{
	margin: 0px 0px 4px 0px;
}
.spisok1{
	margin: none;
}
